
<div class="home-banner">
  <h1>Cocktails list</h1>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <% unless cocktail.photo.blank? %>
          <div class="card padding-20" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>');">
            <div class="card-description">
              <h3><%= link_to cocktail.name, cocktail_path(cocktail) %> - <%= link_to cocktail, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                <i class="far fa-trash-alt"></i></h3>
              <% end %>

            </div>
          </div>
        <% end %>
      </div>
     <% end %>
  </div>
</div>
